body{
    background-color: #f2f2f2;
}
#main{
    /* background-color: #ffffff; */
}
#main textarea {
    max-height: 150px;
    background-color: #f2f2f2;
}

.tags{
    background-color: orange;
    color: #fff;
    padding: 3px 11px;
    border-radius: 30px;
    position: absolute;
    bottom: 6px;
    right: 12px;
    font-size: 11px;
}


#postLists li{
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}
#postLists li:hover:not(.active){
    background-color:rgb(242 242 242 / 83%);
    /* padding-left: 25px;
    border-left: 4px solid #dcdcdc; */
    box-shadow: 1px 1px 10px -5px;
    border:0;
}
#postLists p{
    margin:0;
}